<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:component-scan base-package="at.ac.tuwien.ldsc.group1.*"/>

    <bean class="at.ac.tuwien.ldsc.group1.ui.MainWindow" lazy-init="true" />

    <bean class="at.ac.tuwien.ldsc.group1.application.CsvParser" id="csvParser">
        <constructor-arg name="fileName" value="data/TestScenario1.csv"/>
    </bean>

    <bean class="at.ac.tuwien.ldsc.group1.application.CsvParser" id="csvParser2">
        <constructor-arg name="fileName" value="data/TestScenario2.csv"/>
    </bean>

    <bean class="at.ac.tuwien.ldsc.group1.application.CsvWriter" id="scenarioWriter1">
        <constructor-arg name="baseName" value="results/scenario"/>
        <constructor-arg name="type" value="SCENARIO"/>
    </bean>

     <bean class="at.ac.tuwien.ldsc.group1.application.CsvWriter" id="scenarioWriter2">
        <constructor-arg name="baseName" value="results/scenario-scheduler2"/>
        <constructor-arg name="type" value="SCENARIO"/>
    </bean>
    
    <bean class="at.ac.tuwien.ldsc.group1.application.CsvWriter" id="scenarioWriter3">
        <constructor-arg name="baseName" value="results/scenario-scheduler3"/>
        <constructor-arg name="type" value="SCENARIO"/>
    </bean>
    
    <bean class="at.ac.tuwien.ldsc.group1.application.CsvWriter" id="overviewWriter">
        <constructor-arg name="baseName" value="results/overview"/>
        <constructor-arg name="type" value="OVERVIEW"/>
    </bean>

    <!-- These bean require a writer bean with the name "scenarioWriter" as defined above-->
    <util:list id="schedulers" scope="prototype">
        <bean class="at.ac.tuwien.ldsc.group1.application.Scheduler1" id="scheduler1" scope="prototype">
            <!-- Initialize the number of physical machines for this Scheduler -->
            <constructor-arg name="maxPMs" value="1"/>
        </bean>
        <bean class="at.ac.tuwien.ldsc.group1.application.Scheduler2" id="scheduler2" scope="prototype">
            <!-- Initialize the number of physical machines for this Scheduler -->
            <constructor-arg name="maxPMs" value="5"/>
        </bean>
        <bean class="at.ac.tuwien.ldsc.group1.application.Scheduler3" id="scheduler3" scope="prototype">
            <!-- Initialize the number of physical machines for this Scheduler -->
            <constructor-arg name="maxPMs" value="10"/>
        </bean>
    </util:list>
</beans>
